@model SupportTicketsSystem.Website.Models.Tickets.TicketDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TicketDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketSerialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedToClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedToClientEmail)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
