@model Support_Tickets_System.Website.Models.TicketsRequest.RejectedNote

@{
    ViewData["Title"] = "Rejected";
}

<h1>Rejected</h1>

<h4>RejectedNote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Rejected">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="note" class="control-label"></label>
                <textarea asp-for="note" class="form-control"></textarea>
                <span asp-validation-for="note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit " class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

