@model Support_Tickets_System.Website.Models.TicketsRequest.RequestModel

@{
    ViewData["Title"] = "RequestTicket";
    Layout = "_LayoutWithLeftMenuTickets";
}

<h1>RequestTicket</h1>

<h4>RequestModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RequestTicket">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group">
                <label asp-for="message" class="control-label"></label>
                <textarea asp-for="message" class="form-control" ></textarea>
                <span asp-validation-for="message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirm Request" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

