@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-3">
        <ul>
            <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
            <li><a class="nav-link text-dark" asp-area="" asp-controller="Clients" asp-action="Index">Clients List</a></li>
            <li><a class="nav-link text-dark" asp-area="" asp-controller="Clients" asp-action="Deleted">Deleted Clients List</a></li>
        </ul>
    </div>
    <div class="col-9">
        @RenderBody()
    </div>
</div>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
@RenderSection("Scripts", required: false)